<div class="wrapper">
  <h1>Team Details</h1>
  <p>{{data.mappedTeam.name}}</p>
  <img
    class="team-shield-img"
    src="{{data.mappedTeam.image}}"
    alt="{{data.mappedTeam.name}}"
  />
  <p>{{data.mappedTeam.initials}}</p>
  <p>{{data.mappedTeam.country}}</p>
  <p>{{data.mappedTeam.founded}}</p>
  <p>{{data.mappedTeam.address}}</p>
  <p>{{data.mappedTeam.stadium}}</p>
  <p>{{data.mappedTeam.website}}</p>
  <p>{{data.mappedTeam.email}}</p>
</div>