<div class="wrapper">
  <h1>Team Details</h1>
  <p>{{data.selectedTeam.name}}</p>
  <img
    class="team-shield-img"
    src="{{data.selectedTeam.crestUrl}}"
    alt="{{data.selectedTeam.name}}"
  />
  <p>{{data.selectedTeam.tla}}</p>
  <p>{{data.selectedTeam.area.name}}</p>
  <p>{{data.selectedTeam.founded}}</p>
  <p>{{data.selectedTeam.address}}</p>
  <p>{{data.selectedTeam.venue}}</p>
  <p>{{data.selectedTeam.website}}</p>
  <p>{{data.selectedTeam.email}}</p>
  <p>{{data.selectedTeam.phone}}</p>
</div>