<div class="wrapper">
  <h1>Edit Team</h1>

  <form action="/form/edit/{{data.selectedTeam.id}}" method="POST" enctype="multipart/form-data" class="form-edit">
    <label for="name">
      Name
      <input type="text" name="name" id="name" value="{{data.selectedTeam.name}}" />
    </label>

    <label for="shortName">
      Short Name
      <input
        type="text"
        id="shortName"
        name="shortName"
        value="{{data.selectedTeam.shortName}}"
      />
    </label>

    <label for="tla">
      Initials
      <input type="text" name="tla" id="tla" value="{{data.selectedTeam.tla}}" />
    </label>

    <label for="country">
      Country
      <input
        type="text"
        name="country"
        id="country"
        value="{{data.selectedTeam.area.name}}"
      />
    </label>

    <label for="founded">
      Founded Date
      <input
        type="text"
        name="founded"
        id="founded"
        value="{{data.selectedTeam.founded}}"
      />
    </label>

    <label for="address">
      Address
      <input
        type="text"
        name="address"
        id="address"
        value="{{data.selectedTeam.address}}"
      />
    </label>

    <label for="venue">
      Stadium Name
      <input type="text" name="venue" id="venue" value="{{data.selectedTeam.venue}}" />
    </label>

    <label for="clubColors">
      Club Colors
      <input
        type="text"
        name="clubColors"
        id="clubColors"
        value="{{data.selectedTeam.clubColors}}"
      />
    </label>

    <label for="website">
      Website
      <input
        type="text"
        name="website"
        id="website"
        value="{{data.selectedTeam.website}}"
      />
    </label>

    <label for="email">
      Email
      <input type="text" name="email" id="email" value="{{data.selectedTeam.email}}" />
    </label>

    <label for="phone">
      Phone
      <input type="text" name="phone" id="phone" value="{{data.selectedTeam.phone}}" />
    </label>

    <label for="image">
      Image
      <input type="file" name="image" id="image" value="{{data.selectedTeam.crestUrl}}"/>
    </label>

    <button class="form-edit-btn" type="submit">Update Team</button>

  </form>
</div>