<div class="wrapper">
  <h1>Form Edit</h1>

  <form action="">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{data.selectedTeam.name}}" />

    <label for="tla">Initials</label>
    <input type="text" name="tla" id="tla" value="{{data.selectedTeam.tla}}" />

    <label for="country">Country</label>
    <input
      type="text"
      name="country"
      id="country"
      value="{{data.selectedTeam.area.name}}"
    />

    <label for="founded">Founded Date</label>
    <input
      type="text"
      name="founded"
      id="founded"
      value="{{data.selectedTeam.founded}}"
    />

    <label for="address">Address</label>
    <input
      type="text"
      name="address"
      id="address"
      value="{{data.selectedTeam.address}}"
    />

    <label for="venue">Stadium Name</label>
    <input type="text" name="venue" id="venue" value="{{data.selectedTeam.venue}}" />

    <label for="website">Website</label>
    <input
      type="text"
      name="website"
      id="website"
      value="{{data.selectedTeam.website}}"
    />

    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="{{data.selectedTeam.email}}" />

    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" value="{{data.selectedTeam.phone}}" />

  </form>
</div>